<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Household</title>
    </head>

    <body>
        <h1>Create, delete or update shared households</h1>
        <nav id="houshold-page-navigation">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/api/household/list">View shared households</a></li>
                <li><a href="/api/household/create">Add new household</a></li>
            </ol>
        </nav>
    </body>
</html>